## Time Series - Data Acquisition - Exercises
Within your **codeup-data-science** directory, create a new repo named **time-series-exercises**. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your **time-series-exercises** repo. Then add, commit, and push your changes.

The end result of this exercise should be a file named **acquire.py.**

In [1]:
import pandas as pd
import requests
import os

### 1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
url = 'https://python.zgulde.net/api/v1/items'
response = requests.get(url)
print(response.text)

{"payload":{"items":[{"item_brand":"Riceland","item_id":1,"item_name":"Riceland American Jazmine Rice","item_price":0.84,"item_upc12":"35200264013","item_upc14":"35200264013"},{"item_brand":"Caress","item_id":2,"item_name":"Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct","item_price":6.44,"item_upc12":"11111065925","item_upc14":"11111065925"},{"item_brand":"Earths Best","item_id":3,"item_name":"Earths Best Organic Fruit Yogurt Smoothie Mixed Berry","item_price":2.43,"item_upc12":"23923330139","item_upc14":"23923330139"},{"item_brand":"Boars Head","item_id":4,"item_name":"Boars Head Sliced White American Cheese - 120 Ct","item_price":3.14,"item_upc12":"208528800007","item_upc14":"208528800007"},{"item_brand":"Back To Nature","item_id":5,"item_name":"Back To Nature Gluten Free White Cheddar Rice Thin Crackers","item_price":2.61,"item_upc12":"759283100036","item_upc14":"759283100036"},{"item_brand":"Sally Hansen","item_id":6,"item_name":"Sally Hansen Nail Color Magnetic 903 Silver Elements","item_price":6.93,"item_upc12":"74170388732","item_upc14":"74170388732"},{"item_brand":"Twinings Of London","item_id":7,"item_name":"Twinings Of London Classics Lady Grey Tea - 20 Ct","item_price":9.64,"item_upc12":"70177154004","item_upc14":"70177154004"},{"item_brand":"Lea & Perrins","item_id":8,"item_name":"Lea & Perrins Marinade In-a-bag Cracked Peppercorn","item_price":1.68,"item_upc12":"51600080015","item_upc14":"51600080015"},{"item_brand":"Van De Kamps","item_id":9,"item_name":"Van De Kamps Fillets Beer Battered - 10 Ct","item_price":1.79,"item_upc12":"19600923015","item_upc14":"19600923015"},{"item_brand":"Ahold","item_id":10,"item_name":"Ahold Cocoa Almonds","item_price":3.17,"item_upc12":"688267141676","item_upc14":"688267141676"},{"item_brand":"Honest Tea","item_id":11,"item_name":"Honest Tea Peach White Tea","item_price":3.93,"item_upc12":"657622604842","item_upc14":"657622604842"},{"item_brand":"Mueller","item_id":12,"item_name":"Mueller Sport Care Basic Support Level Medium Elastic Knee Support","item_price":8.4,"item_upc12":"74676640211","item_upc14":"74676640211"},{"item_brand":"Garnier Nutritioniste","item_id":13,"item_name":"Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam","item_price":6.47,"item_upc12":"603084234561","item_upc14":"603084234561"},{"item_brand":"Pamprin","item_id":14,"item_name":"Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief","item_price":7.54,"item_upc12":"41167300121","item_upc14":"41167300121"},{"item_brand":"Suave","item_id":15,"item_name":"Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut","item_price":9.11,"item_upc12":"79400847201","item_upc14":"79400847201"},{"item_brand":"Burts Bees","item_id":16,"item_name":"Burts Bees Daily Moisturizing Cream Sensitive","item_price":5.17,"item_upc12":"792850014008","item_upc14":"792850014008"},{"item_brand":"Ducal","item_id":17,"item_name":"Ducal Refried Red Beans","item_price":1.16,"item_upc12":"88313590791","item_upc14":"88313590791"},{"item_brand":"Scotch","item_id":18,"item_name":"Scotch Removable Clear Mounting Squares - 35 Ct","item_price":4.39,"item_upc12":"21200725340","item_upc14":"21200725340"},{"item_brand":"Careone","item_id":19,"item_name":"Careone Family Comb Set - 8 Ct","item_price":0.74,"item_upc12":"41520035646","item_upc14":"41520035646"},{"item_brand":"Usda Produce","item_id":20,"item_name":"Plums Black","item_price":5.62,"item_upc12":"204040000000","item_upc14":"204040000000"}],"max_page":3,"next_page":"/api/v1/items?page=2","page":1,"previous_page":null},"status":"ok"}

In [3]:
data = response.json()
print(type(data))
data

<class 'dict'>

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [4]:
data = response.json()

In [5]:
data.keys()

dict_keys(['payload', 'status'])

In [6]:
data['payload']['next_page']

'/api/v1/items?page=2'

In [7]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

max_page: 3
next_page: /api/v1/items?page=2

In [8]:
items = pd.DataFrame(data['payload']['items'])
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  20 non-null     object
 1   item_id     20 non-null     int64
 2   item_name   20 non-null     object
 3   item_price  20 non-null     float64
 4   item_upc12  20 non-null     object
 5   item_upc14  20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [9]:
# create an empty list
items_list = []

# create response
response = requests.get('https://python.zgulde.net/api/v1/items')
data = response.json()

# create an n with max page from the payload
n = data['payload']['max_page']

# for i in range with n being first page
for i in range(1, n+1):
    url ='https://python.zgulde.net/api/v1/items?page='+str(i)
    response = requests.get(url)
    data = response.json()
    page_items = data['payload']['items']
    items_list += page_items

# turn that list into a dataframe    
items = pd.DataFrame.from_dict(items_list)

In [10]:
# take a look
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [11]:
# look at dtypes, nulls, columns, shape
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_brand  50 non-null     object
 1   item_id     50 non-null     int64
 2   item_name   50 non-null     object
 3   item_price  50 non-null     float64
 4   item_upc12  50 non-null     object
 5   item_upc14  50 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [12]:
def new_items():
    '''
    returns dataframe of all items
    '''
    items_list = []

    response = requests.get('https://python.zgulde.net/api/v1/items')
    data = response.json()
    n = data['payload']['max_page']

    for i in range(1,n+1):
        url = 'https://python.zgulde.net/api/v1/items?page='+str(i)
        response = requests.get(url)
        data = response.json()
        page_items = data['payload']['items']
        items_list += page_items
        
    return pd.DataFrame(items_list)

In [13]:
def get_items():
    '''
    returns dataframe of all items from items.csv, or creates items.csv for you
    '''
    if os.path.isfile('items.csv'):
        df = pd.read_csv('items.csv')
    else:
        df = new_items()
        df.to_csv('items.csv', index=False)
        
    return df

### 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [14]:
# create an empty list
stores_list = []

# create response
stores_response = requests.get('https://python.zgulde.net/api/v1/stores')
stores_data = stores_response.json()

# create an n with max page from the payload
n = stores_data['payload']['max_page']

# for i in range with n being first page
# if n is 3, will show pages 1,2,3
for i in range(1,n+1):
    stores_url = 'https://python.zgulde.net/api/v1/stores?page='+str(i)
    stores_response = requests.get(stores_url)
    stores_data = stores_response.json()
    page_stores = stores_data['payload']['stores']
    stores_list += page_stores
    
# turn that list into a dataframe
stores = pd.DataFrame(stores_list)

In [15]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [16]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_address  10 non-null     object
 1   store_city     10 non-null     object
 2   store_id       10 non-null     int64
 3   store_state    10 non-null     object
 4   store_zipcode  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [17]:
def new_stores():
    '''
    returns dataframe of stores
    '''
    stores_list = []
    url = 'https://python.zgulde.net/api/v1/stores'
    response = requests.get(url)
    data = response.json()
    n = data['payload']['max_page']

    for i in range(1,n+1):
        store_url = url + '?page=' +str(i)
        response = requests.get(store_url)
        data = response.json()
        page_store = data['payload']['stores']
        stores_list += page_store
        
    return pd.DataFrame(stores_list)

In [18]:
def get_stores():
    '''
    returns dataframe of stores from stores.csv, or creates it for you
    '''
    if os.path.isfile('stores.csv'):
        df = pd.read_csv('stores.csv')
    else:
        df = new_stores()
        df.to_csv('stores.csv', index=False)
        
    return df

### 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [19]:
def get_sales():
    '''
    retrieves sales dataframe from sales.csv, or creates it for you
    '''
    if os.path.isfile('sales.csv'):
        df = pd.read_csv('sales.csv')
        return df
    
    else: 
        sales_list = []
        url = 'https://python.zgulde.net/api/v1/sales'
        response = requests.get(url)
        data = response.json()
        n = data['payload']['max_page']

        for i in range(1,n+1):
    
            sales_url = url + '?page=' +str(i)
            response = requests.get(sales_url)
            data = response.json()
            page_sales = data['payload']['sales']
            sales_list += page_sales
            df = pd.DataFrame(sales_list)
            df.to_csv('sales.csv', index=False)
    return df

In [20]:
sales = get_sales()

In [21]:
sales.shape

(913000, 5)

In [22]:
sales

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

### 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [23]:
# csv filed saved as 'sales.csv'

### 5. Combine the data from your three separate dataframes into one large dataframe.

In [24]:
def combined_data():
    '''
    combines items, stores, and sales into a dataframe
    '''
    if os.path.isfile('combined.csv'):
        df = pd.read_csv('combined.csv')
        return df
    
    else: 
        items = get_items()
        stores = get_stores()
        sales = get_sales()
        
        sales = sales.rename(columns={'item':'item_id'})
        sales = sales.rename(columns={'store':'store_id'})
        combine_data = sales.merge(stores, on='store_id', how='left')
        combine_data = combine_data.merge(items, on='item_id', how='left')
        
        combine_data.to_csv('combined.csv', index=False)
        return combine_data

In [34]:
combo = combined_data()

In [26]:
df = pd.read_csv('combined.csv')

In [27]:
df

,item_id,sale_amount,sale_date,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [36]:
def get_germany_power():
    '''
    returns Germany power data into a csv, and creates it for you
    '''
    if os.path.isfile('germany_power.csv'):
        df = pd.read_csv('germany_power.csv')
        return df
    else:
        
        data = pd.read_csv("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv")
        data.to_csv('germany_power.csv')
    return data

In [37]:
opsd = get_germany_power()

In [38]:
df = pd.read_csv('germany_power.csv')

In [39]:
df.head(3)

   Unnamed: 0        Date  Consumption  Wind  Solar  Wind+Solar
0           0  2006-01-01     1069.184   NaN    NaN         NaN
1           1  2006-01-02     1380.521   NaN    NaN         NaN
2           2  2006-01-03     1442.533   NaN    NaN         NaN

### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
# see my aquire.py file